.green-bg-light {
  background-color: #d0e6a5;
}

.green-bg-dark {
  background-color: #b1e001;
}

.forumpost {
  font-family: Oswald;
  background: #F0FBE1;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 2%;
}

.poster > h3 {
  font-weight: bold;
  font-size: 1.1rem;
}

.forumactions {
  display: flex;
}

.poster > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.poster {
    display: flex;
    flex-direction: row;
    align-items: center;
}

p.success_msg {
    display: none;
}