.form_title, .form_btn, .form_field, .form_register, .form_error {
    font-family: 'Oswald', sans-serif;
}

.form_field {
    outline:none;
}

.logo {
    width: 200px;
}

.form_title {
    color: #083643;
    font-weight: 400;
}

.form_register {
    color: #083643;
}

.dark_text {
    color: #083643;
}

.form_field, .form_btn, .form_register {
    font-weight: 300;
}

.form_btn {
    background-color: #FF7F50;
}

.form_btn:hover {
    opacity: .9;
}

.form_register:hover {
    color: #FF7F50;
}

.form_field::placeholder {
    color: #083643;
}

.form_error {
    color: #FF7F50;
}

.bg-plus {
    background-color: #FF7F50;
}

.bg-secondary-button {
    background-color: #B8ECD7;
}

.gradient {
    background: linear-gradient(137deg, rgba(208,230,165,1) 0%, rgba(134,227,206,1) 100%);
}

/* mediaqueries */

@media screen and (min-width: 768px) {
    .logo {
        width: 300px;
    }
  }